<h2>トップページ</h2>

<% if logged_in? %>
    <%= link_to "ログアウト", logout_path, method: :delete %>
<% else %>
    <%= link_to "ユーザー登録", users_new_path %>
    <%= link_to "ログイン", login_form_path %>
<% end %>